@import '../../styles/variables';
.X {
    width: 20%;
    height: 75%;
    background-color: $theme-x;
    transform: translateX(-50%) rotate(45deg);
    position: relative;
    left: 50%;
    &::after{
        content: '';
        position: absolute;
        left: 0;
        top:0;
        box-sizing: border-box;
        transform: rotate(-90deg);
        background-color: $theme-x;
        width: 100%;
        height: 100%;
    }
}