// Fonts
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

$title: 'Bangers', cursive;
$primary: 'Rubik', 'Roboto', sans-serif;


// Colors
$theme-bg: black;
$theme-board: lightgrey;
$theme-x: #FF00CC;
$theme-o: #9D00FF